In [38]:
import pandas as pd

In [39]:
data = pd.read_excel('MTNGH.xlsx')
data.head()

,Daily Date,Share Code,Year High (GH¢),Year Low (GH¢),Previous Closing Price - VWAP (GH¢),Opening Price (GH¢),Last Transaction Price (GH¢),Closing Price - VWAP (GH¢),Price Change (GH¢),Closing Bid Price (GH¢),Closing Offer Price (GH¢),Total Shares Traded,Total Value Traded (GH¢)
0,12/02/2024,MTNGH,1.4,1.4,1.4,1.4,1.4,1.4,0.0,1.35,1.40,177272,248180.8
1,09/02/2024,MTNGH,1.4,1.4,1.4,1.4,1.4,1.4,0.0,1.35,1.40,237872,333020.8
2,08/02/2024,MTNGH,1.4,1.4,1.4,1.4,1.4,1.4,0.0,1.40,1.54,47606,66648.4
3,07/02/2024,MTNGH,1.4,1.4,1.4,1.4,1.4,1.4,0.0,1.40,1.54,337028,471839.2
4,06/02/2024,MTNGH,1.4,1.4,1.4,1.4,1.4,1.4,0.0,1.40,1.54,37418,52385.2

In [40]:
cleaned = data[['Daily Date', 'Closing Price - VWAP (GH¢)']]

In [41]:
cleaned

      Daily Date  Closing Price - VWAP (GH¢)
0     12/02/2024                        1.40
1     09/02/2024                        1.40
2     08/02/2024                        1.40
3     07/02/2024                        1.40
4     06/02/2024                        1.40
...          ...                         ...
1329  11/09/2018                        0.76
1330  10/09/2018                        0.75
1331  07/09/2018                        0.75
1332  06/09/2018                        0.75
1333  05/09/2018                        0.75

[1334 rows x 2 columns]

In [42]:
# Calculate the simple returns
cleaned['Simple Returns'] = cleaned['Closing Price - VWAP (GH¢)'].pct_change()

C:\Users\jnopa\AppData\Local\Temp\ipykernel_18788\3151701223.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Simple Returns'] = cleaned['Closing Price - VWAP (GH¢)'].pct_change()

In [43]:
cleaned

      Daily Date  Closing Price - VWAP (GH¢)  Simple Returns
0     12/02/2024                        1.40             NaN
1     09/02/2024                        1.40        0.000000
2     08/02/2024                        1.40        0.000000
3     07/02/2024                        1.40        0.000000
4     06/02/2024                        1.40        0.000000
...          ...                         ...             ...
1329  11/09/2018                        0.76        0.000000
1330  10/09/2018                        0.75       -0.013158
1331  07/09/2018                        0.75        0.000000
1332  06/09/2018                        0.75        0.000000
1333  05/09/2018                        0.75        0.000000

[1334 rows x 3 columns]

In [44]:
print(cleaned.columns)

Index(['Daily Date', 'Closing Price - VWAP (GH¢)', 'Simple Returns'], dtype='object')

In [45]:
# Set date as index 
cleaned.set_index('Daily Date', inplace=True) # inplace=True modifies the dataframe in place

In [49]:
cleaned.to_csv('MTNGH_cleaned.csv')